<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pigdogbay.weightrecorder"
    android:versionCode="11503"
    android:versionName="1.15.03" 
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET"/>
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:name=".WeightRecorderApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		<meta-data 
		    android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>   
 		<meta-data
     		android:name="com.google.android.gms.analytics.globalConfigResource"
     		android:resource="@xml/analytics_global_config" />            
		
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".MainActivity"
            android:label="@string/title_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImportActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_import">
            <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="file" />
		        <data android:mimeType="*/*" />
		        <data android:pathPattern=".*\\.csv" />
		        <data android:host="*" />                
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="content" />
		        <data android:mimeType="text/csv" />
		        <data android:host="*" />                
			</intent-filter>            
        </activity>
		<activity android:name="com.google.android.gms.ads.AdActivity"
		    	  android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan"
		          android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>        
        </application>
</manifest>