<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pigdogbay.weighttrackerpro"
    android:versionCode="10000"
    android:versionName="1.00.00" 
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:name=".WeightRecorderApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".MainActivity"
            android:label="@string/title_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImportActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_import">
            <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="file" />
		        <data android:mimeType="*/*" />
		        <data android:pathPattern=".*\\.csv" />
		        <data android:host="*" />                
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="content" />
		        <data android:mimeType="text/csv" />
		        <data android:host="*" />                
			</intent-filter>            
        </activity>
        </application>
</manifest>